#navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  border: solid 1px black;
}

.options {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.options h3 {
  padding-left: 30px;
  padding-right: 10px;
}
#data {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 5%;
  justify-content: center;
  padding: 5%;
}
img {
  width: 30%;
}
